<div class="row">
  <div class="span6 offset3">
<h1>Ticket</h1>
    <%= form_for(@ticket) do |f| %>
      <%= f.label :answer %><br/>
      <%= f.text_field :answer, placeholder: "Compose a  ticket answer" %><br/>

      <%= f.submit "Send", class: "btn btn-large btn-primary" %><br/>
    <% end %>
  </div>