@import "bootstrap";

#title{
    color: white;
     float:left;
}

nav{
    padding-top: 15px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing(border-box);
}


