@import "bootstrap";
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 50%;
  margin-bottom: 15px;
  @include box_sizing(border-box);
}


.row{
    margin-left: 30%;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

